.vscode/
.idea/
*~
*.o
*.out
*.obj
*.bin
*.exe
*.dll
*.so
*.dylib
*.backup
*.bak
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.ico
*.db
*.sqlite
*.sqlite3
*.zip
*.rar
*.gz
*.bz2
*.7z
*.log
*.tmp
*.temp
*.swp
*.swo
.cache/
.DS_Store
